/* Generale */
form {
  margin: 0;
}

#nomeBlocco,
#inputNomeMod {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

span {
  margin: 0 !important;
}

input:hover::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 0.8 !important;
}

::selection {
  color: black;
  background-color: yellow;
}