/* Generale */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
.category:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

#webApp-name > a,
#webApp-name > a:hover {
  text-decoration: none;
  color: hsl(205, 16%, 77%);
}

nav {
  padding: 0 2.5%;
}

form {
  margin: 0;
}

#page-description > *{
  margin: 0;
}

#nomeBlocco,
#modNameInput {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin-bottom: 0;
}

.autocomplete-item > span {
  --border-color: var(--form-element-border-color);
  border: var(--border-width) solid var(--border-color);
  background-color: var(--background-color);
}

span {
  margin: 0 !important;
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

input:hover {
  background-color: var(--primary) !important;
}

input:hover::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 0.8 !important;
}

::selection {
  color: black;
  background-color: yellow;
}

.focus {
  background-color: var(--primary) !important;
  color: white !important;
}